@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('./fonts/lato/lato.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/lato/lato__italic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url('./fonts/lato/lato__light.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  src: url('./fonts/lato/lato__light-italic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 600;
  src: url('./fonts/lato/lato__bold.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 600;
  font-style: italic;
  src: url('./fonts/lato/lato__bold-italic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url('./fonts/lato/lato__black.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/lato/lato__black-italic.ttf');
}
