@font-face {
  font-family: "PT Serif";
  font-weight: 400;
  src: url("./fonts/pt-serif/pt-serif.ttf");
}

@font-face {
  font-family: "PT Serif";
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/pt-serif/pt-serif__italic.ttf");
}

@font-face {
  font-family: "PT Serif";
  font-weight: 700;
  src: url("./fonts/pt-serif/pt-serif__bold.ttf");
}

@font-face {
  font-family: "PT Serif";
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/pt-serif/pt-serif__bold-italic.ttf");
}