@import "scss/fonts";
@import "scss/typography";
@import "scss/link-list";
@import "scss/forms";

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}