@import "variables/grid";
@import "variables/colors";

.events-page {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .events-page__events {
    display: flex;
    flex-wrap: wrap;
    max-width: 928px;
    margin: 0 ($grid-gutter * -1);
  }

  .events-page__ministry {
    margin: $grid-gutter;
  }

  .events-page__heading {
    margin: 0;
    font-size: 100px;
  }
}
