@import "colors";
@import "../functions/get-color";
@import "../functions/two-color-gradient";

$gradients: (
  navy_teal: two-color-gradient(get-color("navie"), get-color("primary-accent")),
  green_cyan: two-color-gradient(get-color("depth"), get-color("primary")),
  navy_cyan: two-color-gradient(get-color("navie"), get-color("primary")),
  teal_cyan: two-color-gradient(get-color("primary-accent"), get-color("primary")),
  teal_green: two-color-gradient(get-color("primary-accent"), get-color("depth")),
  navy_light-red: two-color-gradient(get-color("navie"), get-color("light-red")),
);
