.ministry-page {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;

  h1 {
    font-size: 50px;
  }

  .page-content {
    display: flex;
    justify-content: center;

    .ministry-info {
      margin-right: 40px;
      flex: 0 1 400px;
    }

    .join-ministry {
      flex: 0 1 300px;
    }
  }
}
